<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yanghaibooo.firstcode">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".five.fragment_practice.NewsContentActivity"></activity>
        <activity android:name=".five.fragment_practice.MainActivity" />
        <activity android:name=".five.fragment.MainActivity" />
        <activity android:name=".five.MainFiveActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".one.MainOneActivity" />
        <activity android:name=".two.MainActivity" />
        <activity android:name=".three.MainThreeActivity" />
        <activity android:name=".three.activity.FirstActivity" />
        <activity
            android:name=".three.activity.SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.yanghaibooo.firstcode.three.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yanghaibooo.firstcode.three.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".three.activity.ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".four.MainFourActivity" />
        <activity android:name=".four.recycle_view.MainActivity" />
        <activity android:name=".four.list_view.MainActivity" />
        <activity android:name=".four.ui_best_practice.MainActivity" />
        <activity android:name=".eight.MainEightActivity" />
        <activity android:name=".eight.runtime_permission.MainActivity" />
        <activity android:name=".eight.contacts.MainActivity" />
        <activity android:name=".night.MediaActivity" />
        <activity android:name=".night.CameraActivity" />
        <activity android:name=".night.NotificationMainActivity" />
        <activity android:name=".night.NotificationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yanghaibooo.firstcode.night.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>